<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}" 
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li>

      <!-- open external URLs in another tab -->
      {{ if in .URL "https://" }}
        <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">
          {{ .Name }}
            <i class="fa fa-external"></i>
        </a>

      <!-- open internal URLs in the same tab -->
      {{ else }}
        <a href="{{ .URL }}">
          {{ .Name }}
        </a>
      {{ end }}

    </li>
    {{ end }}
  </ul>
</nav>
