{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="list">
    {{ $hasFutureEvents := false }}
    {{ range .Pages }}
      {{ if lt (sub (now.Unix) ( (time .Params.date).Unix )) 0 }}
        {{ $hasFutureEvents = true }}
      {{ end }}
    {{ end }}

    {{ if $hasFutureEvents }}
      <h1 class="list-title"> {{ .Site.Params.events.futureEventsLabel }} </h1>
        {{ range .Pages }}
          {{ if lt (sub (now.Unix) ( (time .Params.date).Unix) ) 0 }}
            {{ partial "event-item.html" . }}
          {{ end }}
        {{ end }}
      <br>
      <hr style="opacity: 0.2">
    {{ end }}

    {{ $hasPastEvents := false }}
    {{ range .Pages }}
      {{ if ge (sub (now.Unix) ( (time .Params.date).Unix )) 0 }}
        {{ $hasPastEvents = true }}
      {{ end }}
    {{ end }}

    {{ if $hasPastEvents }}
      <h1 class="list-title"> {{ .Site.Params.events.pastEventsLabel }} </h1>
      {{ range .Pages }}
        {{ if ge (sub (now.Unix) ( (time .Params.date).Unix )) 0 }}
            {{ partial "event-item.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  </article>

</main>

{{ partial "footer.html" . }}
