{{ $taxonomy := .Get 0 }}
{{ $message := .Get 1 }}

<link rel="stylesheet" href="/css/mrb.css">
<div class="most-recent-box">
    <p>{{ $message }}</p>
    {{ range .Site.Pages }}
        {{if eq (.Title | lower) $taxonomy }}
            {{ range first 1 .Pages }}
                {{ partial "list-item.html" . }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>
